<div class="directions">
    <h2 style="text-align:left">Directions</h2>
    
    <!--<p>For a map and directions <a href="http://www.sterlingstage.com/directions.html" target="_blank">click here</a> (via Google Maps)</p>-->
    
    <p>  
    STERLING STAGE<br />
     274 KENT RD<br />
     STERLING NY 13156<br />
     818-212-9489<br />
     </p>
    
    <p>
     <strong>From Weedsport and all points west</strong></p>
     <ul>
     <li>Take I-90 EAST (Thruway) to exit 40</li>
     <li>Take Rte 34 north to Rte 104</li>
     <li>Turn right onto Rte 104 east and proceed until you reach Blythe Rd</li>
     <li>Turn left on Blythe Rd and proceed to Kent Rd.</li>
     <li>Turn right on Kent Rd. and the gate is on the right 1/4 mile.</li>
     </ul>
     <br />
     <p>
    <strong>From Syracuse and all points south</strong></p>
    <ul>
     <li>Take Rte 81 north to exit 29 (Rte 481 north)</li>
     <li>Take Rte 481 north to Fulton</li>
     <li>Turn left on Rte 3 west towards Hannibal.</li>
     <li>Turn right onto Rte 104 east and proceed until you reach Blythe Rd</li>
     <li>Turn left on Blythe Rd and proceed to Kent Rd.</li>
     <li>Turn right on Kent Rd. and the gate is on the right 1/4 mile.</li>
     </ul>
    
     <br />
     <p>
    <strong>From Utica and all points east</strong></p>
    <ul>
     <li>Take I-90 WEST (Thruway) to exit 34a</li>
     <li>Take Rte 481 north to Fulton</li>
     <li>Turn left on Rte 3 west towards Hannibal.</li>
     <li>Turn right onto Rte 104 east and proceed until you reach Blythe Rd</li>
     <li>Turn left on Blythe Rd and proceed to Kent Rd.</li>
     <li>Turn right on Kent Rd. and the gate is on the right 1/4 mile.</li>
     </ul>
     <br />
     <p>
    <strong>From Mexico and all points north</strong></p>
    <ul>
     <li>Take Rte 81 south to exit 34</li>
     <li>Turn right onto Rte 104 west and go through Oswego</li>
     <li>Turn right on Blythe Rd and proceed to Kent Rd.</li>
     <li>Turn right on Kent Rd. and the gate is on the right 1/4 mile.</li>
     </ul>
     <br />
    
    <p>
    <!--Please note that Google or Yahoo maps may take you on a route that is different from the above
    directions.--> Many local roads lack signs and there will be few if any festival signs up. If you are unfamiliar
    with the area please print yourself a detailed map showing local roads and stick to our version for 
    the least amount of confusion. If you get lost and need some help give us a call at 818-212-9489. <br />
    SAFE TRAVELS!
    </p>
    </div>
