<div class="contact">
    <h2>Contact Information</h2>
    <p>For information on vending inquire to <a href="mailto:sterlingstage@gmail.com">sterlingstage&amp;gmail.com</a></p>
    <p>Bands wishing to make a submission should direct submissions to <a href="mailto:sterlingstage@gmail.com">sterlingstage&amp;gmail.com</a></p> 
    
    <p class="my-3">STERLING STAGE CONTACT INFO:</p>
    
    <p>General Info:</p>
    <p>E-mail: <a href="mailto:sterlingstage@gmail.com">sterlingstage&amp;gmail.com</a></p>
    <p>Phone: 818-212-9489 (Producer/Promoter Eric McElveen) --  NO UNSOLICITED BAND PHONE CALLS PLEASE</p>
    <p>Sterling Stage Kampitheater is at located at 274 Kent Rd. Sterling, NY
    (this is not a mailing address...)</p>
</div>