<div class="rules">
    <h2 class="header-left">Sterling Stage Rules & FAQ</h2>
    <br/>
    <p class="my-2">Gates open for all events at 9am Thursday morning. Only crew, vendors, volunteers, and VIPs will be allowed earlier admittance.</p>
    <p class="my-2">Well behaved licensed dogs are permitted for a charge of $40 each (payable at gate) and must remain on a leash at all times.</p>
    <p class="my-2">Venue closes at 11am Monday morning. All patrons and vendors please check out by this time.</p>
    <p class="my-2">Quiet hours are from 11:30pm – 10am. Please be respectful of fellow patrons, our neighbors, and crew at all times.</p>
    <p class="my-2">Glass bottles, fireworks, and sky lanterns are NOT PERMITTED.</p>
    <p class="my-2">Indoor furniture, carpets, and rugs are NOT PERMITTED.</p>
    <p class="my-2">Unauthorized vending is NOT PERMITTED.</p>
    <p class="my-2"> NO BARE FEET.</p> 
    <p class="my-2">CHILDREN MUST BE SUPERVISED AT ALL TIMES.</p>
    <p class="my-2">You are responsible for cleaning up your own area. All camping sites should be left the way they were found. (if not cleaner)</p>
    <p class="my-2">Portable toilets, hand washing stations, and potable water tanks are located throughout the Kampitheater and are serviced periodically during events. We appreciate your help in maintaining a safe, clean, and sanitary environment. To notify us of a station needing service please contact security, Y Gate, box office at main gate, or any other Sterling Stage personnel.</p>
    <p class="my-2">Violence and all other illegal activities will not be tolerated.</p>
    <p class="my-2">FAILURE TO FOLLOW THESE RULES MAY RESULT IN BEING BARRED FROM PREMISES WITHOUT REFUND AND POTENTIAL EXCLUSION FROM ADMITTANCE TO FUTURE EVENTS.</p>
</div>