
<ng-container *ngIf="loading(); else main">
    <div class="flex justify-content-center align-content-center flex-wrap" style="height:100vh">
        <p-progress-spinner ariaLabel="loading" />
    </div>
    
</ng-container>

<ng-template #main>
    <div class="outlets">
        <h1 class="page-header">Ticket Outlets</h1>
        <p-message severity="contrast">
            <h3>Advance Day Passes are on-line only: Please check status of outlet to see if tickets are currently in stock at that location. Not all outlets carry season passes.</h3>
        </p-message>
        <div class="alert alert-warning">
            
        </div>
    
        <p-dataview #dv [value]="outlets()">
            <ng-template #list let-items>
                <div *ngFor="let outlet of items" class="m-3">
                    <app-outlet [outlet]="outlet"></app-outlet>
                </div>
                
            </ng-template>
        </p-dataview>
          
        <div class="footer">
            <p>Many of the groups performing at the festivals sell tickets directly, check with your favorite.</p>
          
        <p>We are always looking to widen our circle of friends and to make things as convenient as possible for our patrons.
            If you know a place in your neighborhood that would be interested in being a ticket outlet please <a class="link-text-dark" href="mailto:sterlingstage@gmail.com">let us know</a>.</p>
        </div>
        
       
    </div>
</ng-template>

