@use '../../../../assets/scss/abstracts/mixins' as *;
@use '../../../../assets/scss/abstracts/variables' as *;

    .camping {
        color: black;
        font-size: 1.25rem;
        
        @include box;
        
        ul {
            li {
                list-style: none;
            }
        }
        a {
            color: darkblue;
        }
    }