<div class="parking">
    <h2 class="page-header">Parking</h2>

    <p>Parking passes can obtained through <a  href="https://www.eventbrite.com/e/2025-sterling-stage-folkfest-30th-anniversary-celebration-tickets-1258995081179?aff=oddtdtcreator" target="_blank">Eventbrite</a>, or by emailing <a  href="mailto:sterlingstage@gmail.com">sterlingstage&#64;gmail.com</a></p>
  
    
    <!-- <p>General Field Lot Parking $15 for weekend.<br /> 
    No RV or camper parking in field lot.</p>
    
    <p>Onsite (vehicle at your camp) parking is reservation only and payable at gate.  Send request to <a class="link-text-light" href="mailto:sterlingstage@gmail.com">sterlingstage@gmail.com</a></p>

    <div class="alert alert-warning">
        Vehicle pass pricing listed below. It is strongly recommended that all campers and RV's purchase in advance.
    </div>

    <ul style="text-align:left">
    <li>Standard size vehicle $20 advance, $30 gate
        <ul>
            <li><button type="button" class="btn btn-info" (click)="onPurchaseClick()">Buy</button></li>
        </ul>
    </li>
    <li>Small tow behind 14' or less $60
        <ul>
            <li><button type="button" class="btn btn-info" (click)="onPurchaseClick()">Buy</button></li>
        </ul>
    </li>
    <li>Medium RV's and tow campers 14' to 27' $80
        <ul>
            <li><button type="button" class="btn btn-info" (click)="onPurchaseClick()">Buy</button></li>
        </ul>
    </li>
    <li>Large RV/busses, 5th wheels over 27' $100
        <ul>
            <li><button type="button" class="btn btn-info" (click)="onPurchaseClick()">Buy</button></li>
        </ul>
    </li>
    </ul> -->
    
    </div>