@use '../../../../assets/scss/abstracts/mixins' as *;
@use '../../../../assets/scss/abstracts/variables' as *;


.parking {
    @include box;
    color: black;
    font-size: 1.25rem;
    a {
        color: darkblue;
    }
}
  